<%= form_for(@solo) do |f| %>
<%= render 'shared/errors', object: @solo %>
<p>
  <%= f.label :title %><br/>
  <%= f.text_field :title, size: 40, autofocus: true %>
</p>

<p>
  <%= f.label :composer %>
  <%= f.text_field :composer %>
</p>

<p>
  <%= f.label :PML %>
  <%= f.number_field :PML %>
</p>

<p>
  <% if @solo.new_record? %>
  <%= f.submit "Create Solo" %>
  <% else %>
  <%= f.submit "Update Solo" %>
  <% end %>
</p>
<% end %>
